extends html
  
block body
  .navbar.navbar-default(role='navigation')
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.logo(href='/') Envy
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li
                
                a(href='/account')
                  | Account
              li
                a(href='/logout')
                  i.fa.fa-sign-out
                  | Logout
            else
              li
                a(href='/signup')
                  i.fa.fa-thumbs-up
                  | Sign Up
              li
                a(href='/login')
                  i.fa.fa-sign-in
                  | Log In
  .container
    .row

      //- - getFlash()

      .main
        if flash
          if flash.error
            each val in flash.error
              .alert.alert-danger!= val
          if flash.info
            each val in flash.info
              .alert.alert-info!= val
          if flash.warn
            each val in flash.warn
              .alert.alert-warning!=val
        block content

    hr.featurette-divider
    footer
